@page "/"

<h1>Desafio Webmotors :: TI</h1>

<p>Olá,</p>

<p>Excelente desafio, e apesar de não ter sido requerido, ampliei o requerimento de implementação, com uma página frontend com o Blazor.</p>

<p>Escolhi a forma de arquitetar e implementar as camadas de Backend desta forma, mesmo minha ideia inicial seria consumir a própria API, o que acabou não sendo necessário.</p>

<p>Conforme o tempo proposto não ter sido suficiente, teria refatorado melhor dentro de uma arquitetura mais limpa, além de aumentar cobertura de testes.</p>

<p>Espero ter atendido os requisitos, e gostem do que foi desenvolvido.</p>

<p>Atenciosamente,</p>
<h5> Jorge Medina</h5>
